services:
  app:
    image: ruby
    working_dir: /app
    environment:
      APP_ENV: development
    volumes:
      - .:/app
      - rubygems:/usr/local/bundle
    ports:
      - "4000:4000"
    command: rackup
    depends_on:
      db:
        condition: service_healthy

  db:
    build:
      context: .
      dockerfile: db.Dockerfile
    restart: always
    environment:
      POSTGRES_PASSWORD: yacs
      POSTGRES_USER: yacs
      POSTGRES_DB: yacs
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: pg_isready -U yacs -d yacs
      interval: 10s
      retries: 5
      timeout: 10s

volumes:
  rubygems:
  pgdata:
